footer {
    margin-bottom: 50px;
    text-align: center;
}

footer h4 {
    font-size: 3rem;
}

.notfound {
    text-align: center;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  
.main {
    padding-top: 60px;
}

a,p,h1,h2,h3,h4,h5,h6,code {
    color: rgb(0, 0, 0);
}

code {
    background-color: #eceff3;
    border: none;
}

h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #333;
}

a.title {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 4.0rem;
    font-weight: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
